








<main>
 
<p class="title">
  About
</p>
<div class="line"></div>

<div class="about">
 
  <div class="pic-div">
    <img src="../assets/mypic.png" class="mypic" />
  </div>
  <div class="aboutme">
    <h3>Hello</h3>
   <p>
    My name is Arvind Prajapati.
    I am full stack MEAN (MongoDb,ExpressJs, Angular,Nodejs) Web Developer.
    I have been Developing Websites since past 1+ year .I have 1 year of experience in Angular.
    I also work with Php for backen and Mysql as Database.<br>
    I am a self learnt Developer and very much passionate about my career in Web development.
    <br>
    Along with development Currently I am pursuing my bachelor's Degree in technology (Btech) in computer science Engineering. (2019-2023) 
   </p>
  </div>
</div>
</main>