


body,html{
  height:100%;
  width:100%;
  margin:0px;
  font-family: Sans-Serif;
}
body{
  background:rgb(240,240,240);
}

  .line{
    width:70px;
    height: 2px;
    border-radius: 3px;
    background:dodgerblue;
    margin:auto;
  }
    .title{
    text-align: center;
   margin: 0px;
   font-weight: bolder;
   font-size: 30px;
   color: tomato;
  }