




<main>
  <br>
  <p class="title">My Works</p>
  <div class="line" style="width:120px;"></div>
  <br>
  <div class="works">
    <div>
      <p>{{symbol}}</p>
      <strong>EducateMe</strong><br>
      <small>EducateMe Provides Best Youtube tutorials among all which seems best for the learning of certain technology.</small>
    <br>
     <a [href]="educate[0]">visit site</a>&nbsp;
     <a [href]="educate[1]"> Code Repository</a>
   
    </div>
    <div>
      <p>{{symbol}}</p>
      <strong>showOff</strong><br>
      <small>
        ShowOff is a social media platform where you can create your account and follow your friends and family,like and comments on their posts.
      </small>
      <a [href]="showoff[0]">visit site</a>&nbsp;
      <a [href]="showoff[1]"> Code Repository</a>
    </div>
  </div>
</main>